/* ContactPage.css */
main {
  margin-top: 100px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  background-color: rgb(253, 247, 239);
  color: rgb(70, 40, 40);
}

.contact-form button[type="submit"],
.email-me button {
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 18px;
}

.email-me {
  margin-top: 100px;
  font-size: 15px;
}