.contact h2 {
  color: #ECF3EC;
}

.contact .form {
  margin: 3% auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .form .label {
  font-weight: bold;
  font-size: 150%;
  display: block;
  margin-bottom: 1%;
}


.contact input,
.contact textarea {
  margin: 1%;
  background-color: #fff;
  color: black;
  padding: 0.5% 1%;
  border-radius: 4px;
  border: 1px solid black;
}


.contact button {
  background-color: peachpuff;
  color: darkslategray;
  padding: 1.2%;
  border-radius: 24px;
  border: none;
  font-weight: bold;
}

.contact button:hover {
  background-color: #fff;
  color: peachpuff;
}