* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #6b7b69;
  color: peachpuff;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #6b7b69;
  color: peachpuff;
  z-index: 999;
}


header h1 {
  font-size: 24px;
}

.nav-tabs {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-item a {
  color: #fdf7ef;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #354c35;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.about {
  margin-top: 180px;
  max-width: 65%;
  text-align: center;
  font-size: 18px;
  font-weight: 650;
}

.profile-pic {
  margin-bottom: 50px;
  border-radius: 10px;
}

footer {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  height: 20px;
}