* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #828282;
  color: peachpuff;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #828282;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

.nav-tabs {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;

}

.nav-item a {
  color: aliceblue;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.about {
  max-width: 65%;
  text-align: center;
  font-size: 18px;
}

img {
  margin-bottom: 30px;
  border-radius: 10px;
}


footer {
  display: flex;
  justify-content: center;
}