.main-box {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
  margin-inline: 100px;
}

.showcase {
  flex: 0 0 30%;
  margin: 0px 10px 60px 10px;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease 0s;
  filter: grayscale(100%);
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.links a {
  text-decoration: none;
  justify-content: center;
  margin: 0 10px;

}

.showcase-title {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.main-box .showcase:hover img {
  transform-origin: center;
  transform: scale(1.1);
  filter: none;
  border-radius: 10px;
}

.main-box .showcase .surprise {
  opacity: 0;
  transform: skew(18deg);
  transition: all 0.7s ease-out 0s;
}

.main-box .showcase:hover .surprise {
  opacity: 1;
  transform: skew(0);
  border-radius: 10px;
}

@media only screen and (max-width: 990px) {
  .main-box {
    margin: 0;
  }

  .main-box .showcase {
    flex-basis: 45%;
  }
}